.toggle {
  display: flex;
  justify-content: end;
  gap: 21px;
  margin: 23px 0 27px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: none;
  border: none;
  cursor: pointer;
  color: #c8c8c8;
}

.btn.active {
  color: #3d8eda;
}

.iconGrid,
.iconList {
  display: block;
  background-color: currentColor;
}

.iconGrid {
  width: 22px;
  height: 22px;
  mask-image: url("../../assets/grid.svg");
  -webkit-mask-image: url("../../assets/grid.svg");
}

.iconList {
  width: 24px;
  height: 22px;
  mask-image: url("../../assets/list.svg");
  -webkit-mask-image: url("../../assets/list.svg");
}
