.header {
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 24px 0px #0000001f;
  box-shadow: 0px 12px 24px 0px #0000001f inset;
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.67);
  z-index: 1;
  pointer-events: none;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}

.logo {
  position: absolute;
  left: 200px;
  z-index: 2;
  pointer-events: none;
}

.headerContent {
  position: relative;
  z-index: 2;
  padding: 16px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.username {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1%;
}

.startBtn {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.stats {
  display: flex;

  gap: 16px;
}

.startDate {
  border: 1px solid #3d8eda;
  padding: 6px 12px;
  color: #3d8eda;
  font-size: 13px;
  font-weight: 400;
  border-radius: 2px;
}

@media (min-width: 1400px) {
  .logo {
    left: 350px;
  }
}

@media (max-width: 1100px) {
  .logo {
    left: 100px;
  }
}

@media (max-width: 850px) {
  .logo {
    display: none;
  }
}
